*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Righteous', cursive;;
    margin: 0;
    background-color: #ddd;
    overflow-x: hidden;

}
a{
    text-decoration: none;;
}
p{
    line-height: 20px;
    margin: 10px 40px;
    text-wrap: flex-wrap;
}
/*make video full width of browser*/
video{
    width: 100%;
}
/*position the video*/
.homepage-video, .homepage-video video {
    position: relative;
}
.homepage-video video {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% !important;
}
/*position the text over the video*/
.text-over-video {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-over-video h1{
    font-family: 'Righteous', cursive;
    color: dodgerblue;
    font-size: 4em;
    text-shadow: 2px 2px #333;
    transform: scale(1);
    animation: pulse 2s infinite;
}
/*animate the h1*/
@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}
/*nav styles*/
nav{
    background-color: dodgerblue;
}
ul.main-nav {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .main-nav {
      margin-top: 5px;
  
  }

  .main-nav a {
      padding: 10px 15px;
      text-transform: uppercase;
      text-align: center;
      display: block;
  }
  
  .main-nav a {
      font-size: .99em;
      font-family: 'Righteous', cursive;
      color: #fff;
  }
  
  .main-nav a:hover {
      color: purple;
      font-family: 
  }
  
  .nav-overlay {
      padding-top: .5em;
      padding-bottom: .5em;
  }
  
  /*nav media queries*/
  @media (min-width: 769px) {
      .nav-overlay,
      .main-nav {
          display: flex;
      }
      .nav-overlay {
          flex-direction: column;
          align-items: center;
          .nav-overlay{
          width: 80%;
          margin: 0 auto;
          max-width: 1150px;
      }
      }
  
  }
  
  @media (min-width: 1025px) {
      .nav-overlay {
          flex-direction: row;
          justify-content: space-between;
      }
  
  }
/*main body*/

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    border-right: dodgerblue 5px solid;
    justify-content: center;
}

.item-full{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
}
.item-half{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    flex-direction: row;
    flex: 1;
}

.item-full img{

    width: 500px;
}
.item-half img{

    width: 250px;
}

.column h2{
    text-align: right;
    padding-right: 20px;
    
}

.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.1fr 3fr 1.7fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: ". . .";
    padding-left: 40px;
  }
  .grid-container2 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: ". . . .";
    padding-left: 40px;
  }

  section{
      margin: 40px 0;
  }
  



