*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,ff898b+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  dodgerblue 0%, #ff898b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  dodgerblue 0%,#ff898b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  dodgerblue 0%,#ff898b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ff898b',GradientType=0 ); /* IE6-9 */
    min-height: 1500px;
    margin: 0;

}
a{
    text-decoration: none;;
}
/*make video full width of browser*/
video{
    width: 100%;
}
/*position the video*/
.homepage-video, .homepage-video video {
    position: relative;
}
.homepage-video video {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% !important;
}
/*position the text over the video*/
.text-over-video {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-over-video h1{
    font-family: 'Righteous', cursive;
    color: dodgerblue;
    font-size: 4em;
    text-shadow: 2px 2px #333;
    transform: scale(1);
    animation: pulse 2s infinite;
}
/*animate the h1*/
@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}
/*nav styles*/
ul.main-nav {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .main-nav {
      margin-top: 5px;
  
  }

  .main-nav a {
      padding: 10px 15px;
      text-transform: uppercase;
      text-align: center;
      display: block;
  }
  
  .main-nav a {
      font-size: .99em;
      font-family: 'Righteous', cursive;
      color: #fff;
  }
  
  .main-nav a:hover {
      color: purple;
      font-family: 
  }
  
  .nav-overlay {
      padding-top: .5em;
      padding-bottom: .5em;
  }
  
  /*nav media queries*/
  @media (min-width: 769px) {
      .nav-overlay,
      .main-nav {
          display: flex;
      }
      .nav-overlay {
          flex-direction: column;
          align-items: center;
          .nav-overlay{
          width: 80%;
          margin: 0 auto;
          max-width: 1150px;
      }
      }
  
  }
  
  @media (min-width: 1025px) {
      .nav-overlay {
          flex-direction: row;
          justify-content: space-between;
      }
  
  }
  



